-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "acct_db";

-- CreateEnum
CREATE TYPE "acct_db"."AccountType" AS ENUM ('SAVINGS', 'CURRENT', 'BUSINESS');

-- CreateEnum
CREATE TYPE "acct_db"."AccountStatus" AS ENUM ('ACTIVE', 'FROZEN', 'CLOSED');

-- CreateEnum
CREATE TYPE "acct_db"."LoanStatus" AS ENUM ('PENDING', 'APPROVED', 'ACTIVE', 'PAID');

-- CreateTable
CREATE TABLE "acct_db"."accounts" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "account_number" TEXT NOT NULL,
    "account_type" "acct_db"."AccountType" NOT NULL DEFAULT 'SAVINGS',
    "balance" DECIMAL(15,2) NOT NULL DEFAULT 0.00,
    "currency" TEXT NOT NULL DEFAULT 'LKR',
    "status" "acct_db"."AccountStatus" NOT NULL DEFAULT 'ACTIVE',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "acct_db"."loans" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "account_id" TEXT NOT NULL,
    "amount" DECIMAL(15,2) NOT NULL,
    "interest_rate" DECIMAL(5,2) NOT NULL,
    "term_months" INTEGER NOT NULL,
    "monthly_payment" DECIMAL(15,2) NOT NULL,
    "status" "acct_db"."LoanStatus" NOT NULL DEFAULT 'PENDING',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "loans_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "acct_db"."utility_receipts" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "account_id" TEXT NOT NULL,
    "biller" TEXT NOT NULL,
    "account_reference" TEXT NOT NULL,
    "amount" DECIMAL(15,2) NOT NULL,
    "receipt_number" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PAID',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "utility_receipts_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "accounts_account_number_key" ON "acct_db"."accounts"("account_number");

-- CreateIndex
CREATE INDEX "accounts_user_id_idx" ON "acct_db"."accounts"("user_id");

-- CreateIndex
CREATE INDEX "loans_user_id_idx" ON "acct_db"."loans"("user_id");

-- CreateIndex
CREATE INDEX "loans_account_id_idx" ON "acct_db"."loans"("account_id");

-- CreateIndex
CREATE UNIQUE INDEX "utility_receipts_receipt_number_key" ON "acct_db"."utility_receipts"("receipt_number");

-- CreateIndex
CREATE INDEX "utility_receipts_user_id_idx" ON "acct_db"."utility_receipts"("user_id");

-- CreateIndex
CREATE INDEX "utility_receipts_account_id_idx" ON "acct_db"."utility_receipts"("account_id");

-- AddForeignKey
ALTER TABLE "acct_db"."loans" ADD CONSTRAINT "loans_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "acct_db"."accounts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "acct_db"."utility_receipts" ADD CONSTRAINT "utility_receipts_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "acct_db"."accounts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

