-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "acct_db";

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "admin_db";

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "auth_db";

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "txn_db";

-- CreateTable
CREATE TABLE "admin_db"."system_metrics" (
    "id" TEXT NOT NULL,
    "metric_name" TEXT NOT NULL,
    "metric_value" DOUBLE PRECISION NOT NULL,
    "recorded_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "system_metrics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_db"."admin_actions" (
    "id" TEXT NOT NULL,
    "admin_user_id" TEXT,
    "action" TEXT NOT NULL,
    "target_user_id" TEXT,
    "reason" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "admin_actions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth_db"."users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "nic" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'CUSTOMER',
    "kyc_status" TEXT NOT NULL DEFAULT 'PENDING',
    "failed_attempts" INTEGER NOT NULL DEFAULT 0,
    "is_locked" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "acct_db"."accounts" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "account_number" TEXT NOT NULL,
    "account_type" TEXT NOT NULL DEFAULT 'SAVINGS',
    "balance" DECIMAL(15,2) NOT NULL DEFAULT 0.00,
    "currency" TEXT NOT NULL DEFAULT 'LKR',
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "txn_db"."transactions" (
    "id" TEXT NOT NULL,
    "reference_number" TEXT NOT NULL,
    "from_account_id" TEXT NOT NULL,
    "to_account_id" TEXT NOT NULL,
    "amount" DECIMAL(15,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'LKR',
    "status" TEXT NOT NULL DEFAULT 'SUCCESS',
    "type" TEXT NOT NULL DEFAULT 'TRANSFER',
    "description" TEXT,
    "fraud_flag" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "transactions_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "system_metrics_metric_name_idx" ON "admin_db"."system_metrics"("metric_name");

-- CreateIndex
CREATE INDEX "system_metrics_recorded_at_idx" ON "admin_db"."system_metrics"("recorded_at");

-- CreateIndex
CREATE INDEX "admin_actions_admin_user_id_idx" ON "admin_db"."admin_actions"("admin_user_id");

-- CreateIndex
CREATE INDEX "admin_actions_target_user_id_idx" ON "admin_db"."admin_actions"("target_user_id");

-- CreateIndex
CREATE INDEX "admin_actions_action_idx" ON "admin_db"."admin_actions"("action");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "auth_db"."users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "users_phone_key" ON "auth_db"."users"("phone");

-- CreateIndex
CREATE UNIQUE INDEX "users_nic_key" ON "auth_db"."users"("nic");

-- CreateIndex
CREATE UNIQUE INDEX "accounts_account_number_key" ON "acct_db"."accounts"("account_number");

-- CreateIndex
CREATE UNIQUE INDEX "transactions_reference_number_key" ON "txn_db"."transactions"("reference_number");

