-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "notif_db";

-- CreateEnum
CREATE TYPE "notif_db"."NotificationChannel" AS ENUM ('EMAIL', 'PUSH');

-- CreateTable
CREATE TABLE "notif_db"."notifications" (
    "id" TEXT NOT NULL,
    "user_id" TEXT,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'SYSTEM_ALERT',
    "channel" "notif_db"."NotificationChannel" NOT NULL DEFAULT 'EMAIL',
    "is_read" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notif_db"."audit_logs" (
    "id" TEXT NOT NULL,
    "user_id" TEXT,
    "action" TEXT NOT NULL,
    "resource" TEXT,
    "resource_id" TEXT,
    "ip_address" TEXT,
    "details" TEXT,
    "hash" TEXT NOT NULL,
    "previous_hash" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "notifications_user_id_idx" ON "notif_db"."notifications"("user_id");

-- CreateIndex
CREATE INDEX "notifications_is_read_idx" ON "notif_db"."notifications"("is_read");

-- CreateIndex
CREATE INDEX "notifications_created_at_idx" ON "notif_db"."notifications"("created_at");

-- CreateIndex
CREATE UNIQUE INDEX "audit_logs_hash_key" ON "notif_db"."audit_logs"("hash");

-- CreateIndex
CREATE INDEX "audit_logs_user_id_idx" ON "notif_db"."audit_logs"("user_id");

-- CreateIndex
CREATE INDEX "audit_logs_action_idx" ON "notif_db"."audit_logs"("action");

-- CreateIndex
CREATE INDEX "audit_logs_created_at_idx" ON "notif_db"."audit_logs"("created_at");

