-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "txn_db";

-- CreateEnum
CREATE TYPE "txn_db"."TransactionType" AS ENUM ('TRANSFER', 'PAYMENT', 'DEPOSIT');

-- CreateEnum
CREATE TYPE "txn_db"."TransactionStatus" AS ENUM ('PENDING', 'SUCCESS', 'FAILED', 'FLAGGED');

-- CreateEnum
CREATE TYPE "txn_db"."FraudAlertStatus" AS ENUM ('FLAGGED', 'REVIEWED', 'CLEARED');

-- CreateTable
CREATE TABLE "txn_db"."transactions" (
    "id" TEXT NOT NULL,
    "user_id" TEXT,
    "from_account_id" TEXT NOT NULL,
    "to_account_id" TEXT NOT NULL,
    "amount" DECIMAL(15,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'LKR',
    "type" "txn_db"."TransactionType" NOT NULL DEFAULT 'TRANSFER',
    "status" "txn_db"."TransactionStatus" NOT NULL DEFAULT 'PENDING',
    "reference_number" TEXT NOT NULL,
    "fraud_flag" BOOLEAN NOT NULL DEFAULT false,
    "description" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "txn_db"."fraud_alerts" (
    "id" TEXT NOT NULL,
    "transaction_id" TEXT NOT NULL,
    "rule_triggered" TEXT NOT NULL,
    "risk_score" INTEGER NOT NULL DEFAULT 0,
    "status" "txn_db"."FraudAlertStatus" NOT NULL DEFAULT 'FLAGGED',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "fraud_alerts_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "transactions_reference_number_key" ON "txn_db"."transactions"("reference_number");

-- CreateIndex
CREATE INDEX "transactions_from_account_id_idx" ON "txn_db"."transactions"("from_account_id");

-- CreateIndex
CREATE INDEX "transactions_to_account_id_idx" ON "txn_db"."transactions"("to_account_id");

-- CreateIndex
CREATE INDEX "transactions_created_at_idx" ON "txn_db"."transactions"("created_at");

-- CreateIndex
CREATE INDEX "fraud_alerts_transaction_id_idx" ON "txn_db"."fraud_alerts"("transaction_id");

-- AddForeignKey
ALTER TABLE "txn_db"."fraud_alerts" ADD CONSTRAINT "fraud_alerts_transaction_id_fkey" FOREIGN KEY ("transaction_id") REFERENCES "txn_db"."transactions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

