-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "auth_db";

-- CreateEnum
CREATE TYPE "auth_db"."Role" AS ENUM ('CUSTOMER', 'ADMIN', 'OFFICER');

-- CreateEnum
CREATE TYPE "auth_db"."KycStatus" AS ENUM ('PENDING', 'VERIFIED', 'REJECTED');

-- CreateTable
CREATE TABLE "auth_db"."users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "nic" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "role" "auth_db"."Role" NOT NULL DEFAULT 'CUSTOMER',
    "failed_attempts" INTEGER NOT NULL DEFAULT 0,
    "is_locked" BOOLEAN NOT NULL DEFAULT false,
    "kyc_status" "auth_db"."KycStatus" NOT NULL DEFAULT 'PENDING',
    "kyc_document" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth_db"."refresh_tokens" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "token_hash" TEXT NOT NULL,
    "expires_at" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "refresh_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth_db"."otp_records" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "otp_hash" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'MFA_LOGIN',
    "expires_at" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "otp_records_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "auth_db"."users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "users_phone_key" ON "auth_db"."users"("phone");

-- CreateIndex
CREATE UNIQUE INDEX "users_nic_key" ON "auth_db"."users"("nic");

-- CreateIndex
CREATE UNIQUE INDEX "refresh_tokens_token_hash_key" ON "auth_db"."refresh_tokens"("token_hash");

-- CreateIndex
CREATE INDEX "refresh_tokens_user_id_idx" ON "auth_db"."refresh_tokens"("user_id");

-- CreateIndex
CREATE INDEX "otp_records_user_id_idx" ON "auth_db"."otp_records"("user_id");

-- AddForeignKey
ALTER TABLE "auth_db"."refresh_tokens" ADD CONSTRAINT "refresh_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth_db"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "auth_db"."otp_records" ADD CONSTRAINT "otp_records_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth_db"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

